files:
  /usr/bin/php-staging:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run -i -v /var/app/staging:/app joserobleda/php:5.6-cli php $@
  /usr/bin/php:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run -i -v /var/app/current:/app joserobleda/php:5.6-cli php $@