container_commands:
  01_migrate:
    command: php-staging app/console doctrine:migrations:migrate --env=prod --no-debug --no-interaction
    leader_only: true
    ignoreErrors: true
  02_dumpassets:
    command: php-staging app/console assetic:dump --env=prod --no-debug
    ignoreErrors: true
  06_cache:
    command: chmod -R 0777 app/cache
  07_logs:
    command: chmod -R 0777 app/logs
  08_clearcache:
    command: php-staging app/console cache:clear --env=prod --no-debug --no-warmup

files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/cache-warmup.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      php app/console cache:warmup --env prod

      chmod -R 0777 /var/app/current/app/cache
      chmod -R 0777 /var/app/current/app/logs
