Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {"Ref" : "AWSEBSecurityGroup"}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass https://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDvzCCAqegAwIBAgIJAJDedBqXssbzMA0GCSqGSIb3DQEBCwUAMHYxCzAJBgNV
      BAYTAkVTMQ8wDQYDVQQIDAZNYWRyaWQxDzANBgNVBAcMBk1hZHJpZDEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMQwwCgYDVQQLDANkZXYxFDASBgNV
      BAMMC2FwcGxpY2F0aW9uMB4XDTE1MDkyNTE5NTExNFoXDTE2MDkyNDE5NTExNFow
      djELMAkGA1UEBhMCRVMxDzANBgNVBAgMBk1hZHJpZDEPMA0GA1UEBwwGTWFkcmlk
      MSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQxDDAKBgNVBAsMA2Rl
      djEUMBIGA1UEAwwLYXBwbGljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
      ggEKAoIBAQCl8k/39iTcm+NaD3vLy1G0ydzHTg8D6KXW/+LiZ1IcMnzGGhOgCsYq
      wo3a49x60t5y+HYopI003wZF12qKMfPd5w4H1oXwsPml4GlnzZJzTxrYttsSQ7Cc
      f+8uz94a4v0JIZh0I8bwyqClMlNufL/FWdSEVHwyKAa705Qap9FMtfBMLEncBkf4
      S2r9Dk3al82kd74M5ui9sT8eezuJWdYl5R+z0ghaATSYAXg0o9Jd8ISo+6py9+xM
      j4VrsuCELEJmvl1xoOoLXNNo+4r8JEsYLIYiXgfPTqhAoUqhXN/nwO67YbM/stLj
      252SEMCii1TMwS0FTz2JD82qGPBIoX8TAgMBAAGjUDBOMB0GA1UdDgQWBBQFe3ZL
      /K2vF49SUoxu8VLKsyRVjzAfBgNVHSMEGDAWgBQFe3ZL/K2vF49SUoxu8VLKsyRV
      jzAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBnH+ZXzFui5Xwn3399
      RJYYxrkqyRjbCfYFiLjwTbStUuDT8grq77m6+HDxSiJ0wwNkRuneOB02PVzjpPBk
      98ildgAT9MtsFgFMUiNL0z7ynO8v428RphZpMLz68Mua24atMa9pkabfHXNZAeM0
      txoEdb9Bp/90AHvfsCe22ZI81LMRRhoGPETGcyzJMrZYJ4QwB/g3VrZgLnioQf+u
      s6dwej6ELNhxZA8H37FtUDNvsqMAGvtXvGLHk6mkzTrN0RwUfLk1Zfwf2Y4FKy/c
      TQiv0ayIUOg/ptUbXMNObpBWUBaUsrBp4FS1odfqEuz9RxnY7PmTPuv0ppTVH7e/
      L49v
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCl8k/39iTcm+Na
      D3vLy1G0ydzHTg8D6KXW/+LiZ1IcMnzGGhOgCsYqwo3a49x60t5y+HYopI003wZF
      12qKMfPd5w4H1oXwsPml4GlnzZJzTxrYttsSQ7Ccf+8uz94a4v0JIZh0I8bwyqCl
      MlNufL/FWdSEVHwyKAa705Qap9FMtfBMLEncBkf4S2r9Dk3al82kd74M5ui9sT8e
      ezuJWdYl5R+z0ghaATSYAXg0o9Jd8ISo+6py9+xMj4VrsuCELEJmvl1xoOoLXNNo
      +4r8JEsYLIYiXgfPTqhAoUqhXN/nwO67YbM/stLj252SEMCii1TMwS0FTz2JD82q
      GPBIoX8TAgMBAAECggEAGtfEWb7GHa1VrFa+1qtPzyer/80/nok+cjW4FJlT7d24
      0y6aqBO2FGqeGZ8sJe4AL6bDLjXX5YqB8EA1Kp+D7AwY9+mahuGJsGxJgJH/M4nD
      NPT3INA0PExxeygCrGS1O4nkqDy1THPqYm5uknu5ZYnvV2x3HoHc/PrvhRRKRdcR
      kw5O+G20V0eMWu7PZWA/KkuD4euhTNSlRzqBkmAMueLDaQBWyCp8ki6/+SVyunXf
      8sK6vBSYC044aoG1ZBPntZN+sMEfqbDvRyNYHar0k/hyviKPDiwzdlP7dDWQYVi1
      UKiUfP/qJCmrC18gnLEStwn1EzJzUpIThq8UlTeiEQKBgQDSO2mTiLISJMuY25xD
      mT6uVwaf6bVtQn0vA6bnjllkkLgke1EguVL/ZGA9ybzTCyphqARe5VKaQ7oJEgYi
      Sl01AdpWGR7hi3LJzHflPokg1NkcvFWaDeZcDyltW8SW5jqpDcNBhEhjAHkRb4PU
      7Mzufc6bZPkHTWWjM+bLjO/smwKBgQDKEsq6my3X9fAe9cfbQemEql+naYB3oWhq
      IlIZX+E9vLH8Kw8MkBun6nObi8hbEPp7LeoZFlG9KRDl71IwI+YYZO8hccWdgFvN
      er1IvmzqGg4cqgc9qGhIRLQ3lU8mFtJM48lzEgb9TQo7ESKYNU36UBcmvZeeN3o0
      S8azG0TS6QKBgQChoH21qGVG37ULiuNjcSCohk2YieQq4PA/Qe6CnYUKdNytZ4Vi
      xDgUE0aOmleqZS4rMDJUBrhv01vmd03x9PwdsZP7l4qPWldg3+rZey+P5zQYDI8/
      RipxYlK2OdQ1M0GsEOGpsBq6ynVJu1M+UuPnAx/hhkqSm6VlSJTKr0sRuwKBgD6d
      3Bw/AdGt8B5n4upaXlYxxTpHQvvPFF/vCqm6QD21PyH45czqyucZi4Fjq04s0LFi
      5OupMuL+2rGlmz43oZFllYQzkRzhLZFau1TTTUStljnjpiLBEK90OrQOnFwdLkWN
      QFtb9rZ/LPBouuOXgPZT4xiqH1Vzs3aJFKVjicwhAoGBALsCwI6wnbg013xMWESQ
      XQPoEd3SgtNQus1U+APpnUR5VNxKcM5tIXwiGVBJQXG9CD/lh0uvK4NHDzQFv681
      wPfIPorP0GYC/kY+/P4xQpGgyh2FAbIIzdRFKk0JY/CTdfJELftwgnD3nU/5l1XB
      b58LnLWvaykMT6XThWUMcWRj
      -----END PRIVATE KEY-----
