container_commands:
  #01_migrate:
    #command: php app/console doctrine:migrations:migrate --env=prod --no-debug --no-interaction
    #leader_only: true
  #02_dumpassets:
    #command: php app/console assetic:dump --env=prod --no-debug
  #99_clearcache:
    #command: php app/console cache:clear --env=prod --no-debug --no-warmup
  06_cache:
    command: chmod -R 0777 app/cache
  07_logs:
    command: chmod -R 0777 app/logs